$fuente_principal: 'Montserrat', sans-serif;

//Colores
$azul_oscuro:#014380;
$azul_claro:#214eaf;
$fuente_blanca:#ffffff;
$fuente_oscura:#000000;

//Media queries
$telefono:480px;
$tablet:768px;
$desktop:992px;
$desktopXL:1200px;